# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.log
*.tlog
*.sdf
*.pdb
*.cache
*.ilk
*.lastbuildstate
*uncessfulbuild
*.idb
*.opensdf
*.opendb
*.suo
*.enc

# Merge tool: Meld
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*.suo
